<!-- mealapp/templates/grocery_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Grocery List</title>
    {% load static %}
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h2>Grocery List for {{ num_people }} People </h2>

{% if categorized %}
  {% for aisle, items in categorized.items %}
    <h3>{{ aisles_list|get_item:aisle }} (Aisle {{ aisle }})</h3>
    <ul>
      {% for name, units in items %}
        <li>
          <strong>{{ name }}</strong>:
          {% for unit, amount in units.items %}
            {{ amount|floatformat:2 }} {{ unit }}
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% else %}
  <p>No items in the grocery list.</p>
{% endif %}